<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <header>
        <h1>My Website</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'users:user_list' %}">Users</a></li>
                <li><a href="{% url 'providers:provider_list' %}">Providers</a></li>
                <li><a href="{% url 'experiences:experience_list' %}">Experiences</a></li>
                <li><a href="{% url 'bookings:booking_list' %}">Bookings</a></li>
                <li><a href="{% url 'reviews:review_list' %}">Reviews</a></li>
                <li><a href="{% url 'calendarevents:calendarevent_list' %}">Calendar Events</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Copyright © {% current_year %} My Site.</p>
    </footer>
</body>
</html>